.client-feedback {
  display: flex;
  height: 100vh;
  /* border: 2px solid red; */
  background-color: rgb(41, 40, 40);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.client-feedback-sub {
  /* border: 2px solid red; */
  height: 55vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* padding: 10px; */
  /* background-color: white; */
}
.client-feedbackp {
  color: white;
  /* width: 100px;
  height: 10px; */
  /* display: flex; */
  /* border: 2px solid red; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}
.client-feedback-image {
  height: 100px;
  border-radius: 50%;
}
.client-feedback-card {
  display: flex;
  margin: 10px;
  /* width: 100px; */
  /* border: 2px solid red; */
  border-radius: 15px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}
.client-feedback-card1 {
  /* margin: 10px; */
  height: 330px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}
.client-feedback-card-1-div {
  margin: 30px;
  /* border: 2px solid red; */
  background-color: white;
}
.client-feedback-card-i-img {
  /* display: flex; */
}
.client-feedback-image-adjest {
  display: flex;
}
.client-feedback-sub-para {
  color: rgb(212, 206, 206);
}
